* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Asap Condensed", sans-serif;
  --text-primary: #a676e6;
  --text-secondary: #614694;
  --bg-primary: #3a0e74;
  --bg-secondary: #2f0e5a;
  --text-body: rgb(27, 4, 54);
}

.container {
  margin: 0px 2.5%;
  padding-top: 50px;
}

li,
a {
  display: flex;
  float: right;
  font-family: "Asap Condensed";
  font-weight: 500;
  font-size: 16px;
  color: var(--text-primary);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--text-secondary);
}

body {
  color: black;
  background-color: rgb(214, 172, 241);
  margin: 0;
  padding: 0;
}

.background-image {
  height: 550px;
  width: 100%;
  background-image: url("https://media.istockphoto.com/vectors/software-and-web-development-vector-id1209493796?k=6&m=1209493796&s=612x612&w=0&h=X2BwWOr6wdiJZE45naYQeuf45MBtKOfJnrh88zWLrbg=");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  overflow: auto;
}

figcaption {
  position: relative;
  float: right;
  background-color: indigo;
  color: white;
  font-style: italic;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 340px;
  top: 490px;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
}

h1,
h2 {
  position: relative;
  font-family: var(--header);
  font-size: 50px;
  color: var(--text-primary);
  text-shadow: var(--shadow);
}

h2 {
  padding-right: 50px;
}

article {
  padding-bottom: 35px;
}

.content {
  font-size: 20px;
  font-family: var(--body);
  flex: 0 0 10%;
}

.section {
  display: flex;
}

.section h2 {
  flex: 0 0 20%;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.flexbox-item {
  flex: 0 0 39%;
  border: 3px solid black;
  border-radius: 4px 4px;
  background-image: url("");
  background-repeat: none;
  background-position: center;
  min-height: 200px;
  margin: 1%;
}

.flexbox-item:first-child {
  min-height: 325px;
  max-width: 100%;
  flex-basis: 80%;
  background-repeat: none;
}

.footer {
  justify-content: center;
  display: flex;
  font-family: "Asap Condensed";
  text-decoration: none;
}

.footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer * {
  display: inline;
}

.footer ul li,
a {
  padding-right: 30px;
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .background-image body,
  header,
  h1 {
    width: 100%;
  }
  article {
    padding-left: 0px;
  }
  nav ul li {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  body,
  header,
  h1 {
    width: 100%;
  }
  content,
  nav {
    width: 10%;
  }
  .footer ul li {
    padding-right: 15px;
  }
}
@media screen and (max-width: 520px) {
  body,
  header,
  h1 {
    width: 100%;
  }
  content,
  nav {
    width: 10%;
  }
  .footer ul li {
    padding-right: 15px;
  }
}
